<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<div id="page-container">
<body id="content-wrap">
    <h1 class="title">Exercise Tracker</h1>
    <div class="form_div">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p id="button">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
        </p>
        <p>
            {{ form.pushups.label }}<br>
            {{ form.pushups() }}<br>
        </p>
        <p>
            {{ form.pull_ups.label }}<br>
            {{ form.pull_ups() }}<br>
        </p>
        <p>
            {{ form.exercise_date.label }}<br>
            {{ form.exercise_date() }}<br>
        </p>
        <p id="button">{{ form.submit() }}</p>
    </form>ß
    </div>
</body>

<hr class="bottom-line">

<footer id="footers">
    <p>
        <a href="https://github.com/wyliebrown1990" target="_blank">More Wylie Projects</a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/wylie-brown-8908a252/" target="_blank">Connect With Wylie on Linkedin</a>
    </p>
</footer>
</div>
</html>
