<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker</title>
</head>
<body>
    <h1>Exercise Tracker</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
        </p>
        <p>
            {{ form.pushups.label }}<br>
            {{ form.pushups() }}<br>
        </p>
        <p>
            {{ form.pull_ups.label }}<br>
            {{ form.pull_ups() }}<br>
        </p>
        <p>
            {{ form.exercise_date.label }}<br>
            {{ form.exercise_date() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
